*.ss~
*.ss#*
.#*.ss

*~
,*
*.scm#*
.#*.scm

*.go

*.log
*.trs

autom4te.cache/
build-aux/
/config.cache
config.log
config.status
git/configuration.scm

doc/guile-git.html
doc/guile-git.info
doc/version.texi
doc/.dirstamp
doc/stamp-vti

tests/ssh.scm
tests/.ssh
